{% extends '_layout.html' %}
{% set page_title = post.title %}

{% block extra_styles %}
<link rel="stylesheet" href="{{url_for('static', filename='highlight/styles/atom-one-dark.min.css')}}">
{% endblock %}

{% block extra_scripts %}
<script src="{{url_for('static', filename='highlight/highlight.min.js')}}"></script>
<script>
hljs.highlightAll();
</script>
{% endblock %}

{% block page %}
<div class="container">
    <article class="card post">
        <header class="post-title">
            <a href="{{url_for('blog.post', slug=post.slug)}}"><h1>{{post.title}}</h1></a>
            <span class="post-meta">
                posted by {{config.BLOG_AUTHOR}}
                <span class="post-meta-sep"></span>
                {{post.created_at.strftime(config.BLOG_DATE_FORMAT)}}
            </span>
        </header>
        <section class="post-content">
            {{post.content}}
        </section>
        {# <footer class="post-footer">

        </footer> #}
    </article>
</div>
{% endblock page %}
