{% extends '_page.html' %}

{% block page %}
<div class="d-flex align-items-center flex-column">
	<h1 class="text-center">{{ site_title }}</h1>
	<div class="card col-sm-12 col-md-6 col-lg-4 mt-2">
		<div class="card-body">
			{% with errors = get_flashed_messages(category_filter=['error']) %}
				{% if errors %}
				<div class="alert alert-danger">
					{{ errors[0] }}
				</div>
				{% endif %}
			{% endwith %}
			{% with messages = get_flashed_messages(category_filter=['success']) %}
				{% if messages %}
				<div class="alert alert-success">
					{{ messages[0] }}
				</div>
				{% endif %}
			{% endwith %}
			{% block auth_body %}{% endblock auth_body %}
		</div>
	</div>
</div>
{% endblock page %}