{% extends 'auth/_auth-layout.html' %}
{% set site_title = 'Login' %}

{% block auth_body %}
<form method="POST">
	{{ form.csrf_token }}

	<div class="form-group">
		{% set class = 'form-control is-invalid' if form.username.errors else 'form-control' %}
		{{ form.username.label }}
		{{ form.username(class=class) }}
		{% if form.username.errors %}
		<div class="invalid-feedback">
			<ul>
				{% for error in form.username.errors %}
				<li>{{ error }}</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
	</div>

	<div class="form-group">
		{% set class = 'form-control is-invalid' if form.password.errors else 'form-control' %}
		{{ form.password.label }}
		{{ form.password(class=class) }}
		{% if form.password.errors %}
		<ul>
			{% for error in form.password.errors %}
			<li>{{ error }}</li>
			{% endfor %}
		</ul>
		{% endif %}
	</div>

	{{ form.submit(class='btn btn-primary btn-block', value='login') }}

	<div class="text-center mt-3">
		<a href="{{ url_for('auth.register') }}">or register an account</a>
	</div>

</form>
{% endblock auth_body %}
